* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #faebd7;
    font-family: comic sans ms, sans-serif;
    color: #ca7f1d;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

a {
    color: #e0ab66
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

li {
    list-style-type: none;
    padding: 5px 10px;
}